<div class="container">
    <h1 class="title">{{ getTitle }}</h1>
    <mat-card>
        <mat-form-field appearance="fill" *ngIf="isAdminPage">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="loginData.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="loginData.email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="loginData.password">
        </mat-form-field>
            <mat-radio-group [(ngModel)]='loginData.pol' *ngIf="isAdminPage" aria-label="Pol">
                <mat-radio-button value='pol' *ngFor="let pol of polovi">{{pol}}</mat-radio-button>
            </mat-radio-group>
        <br>
        <div class="buttons">
            <button mat-button color="primary" *ngIf="!isAdminPage" (click)="onLogin()">Login</button>
            <br>
            <button mat-button color="secondary" (click)="register()">{{ getRegisterLabel }}</button>
        </div>
    </mat-card>
</div>