
    <nav>     
    <mat-card>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="regData.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="regData.email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="regData.password">
        </mat-form-field>
        <br class="dizesme">
        <button  mat-button color ="primary"  routerLink="/home/Register">Register</button> 
        <br>
        <br>
        <mat-radio-group>
            <mat-radio-button [value]='regData.pol' *ngFor="let pol of polovi">{{pol}}</mat-radio-button>
          </mat-radio-group>
    </mat-card>
</nav>
