:host {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: aquamarine;
}

.container {
    margin: auto;
    min-width: 30%;
}

mat-form-field{
    width: 100% !important;
}

